version: "3.8"

networks:
  sae.net:
    driver: bridge

volumes:
  mysql_data:

services:
  mysql-db:
    image: mysql:8.0
    container_name: mysql-chaudiere
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
    ports:
      - "${MYSQL_PORT}:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - sae.net

  db-init:
    image: mysql:8.0
    depends_on:
      - mysql-db
    entrypoint: >
      sh -c "
      until mysqladmin ping -h mysql-db -u root -p${MYSQL_ROOT_PASSWORD} --silent; do
        echo 'En attente de MySQL...'; sleep 2;
      done

      if [ ! -f /sql/.done ]; then
        echo 'Initialisation de la base de données...';
        mysql -h mysql-db -u root -p${MYSQL_ROOT_PASSWORD} < /sql/schema.sql && \
        mysql -h mysql-db -u root -p${MYSQL_ROOT_PASSWORD} ${MYSQL_DATABASE} < /sql/data.sql && \
        touch /sql/.done && \
        echo 'Base de données initialisée.';
      else
        echo 'La base est déjà initialisée, on skip.';
      fi
      "
    volumes:
      - ./src/db:/sql
    networks:
      - sae.net
    restart: always

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin-chaudiere
    restart: always
    ports:
      - "${PHPMYADMIN_PORT}:80"
    environment:
      PMA_HOST: mysql-db
      PMA_USER: ${PMA_USER}
      PMA_PASSWORD: ${PMA_PASSWORD}
    depends_on:
      - mysql-db
    networks:
      - sae.net

  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./:/var/www
    working_dir: /var/www
    expose:
      - 9000
    depends_on:
      - mysql-db
    networks:
      - sae.net
    command: sh -c "composer update && php-fpm"
    restart: always

  web:
    image: nginx:alpine
    container_name: nginx-chaudiere
    ports:
      - "${APP_PORT}:80"
    volumes:
      - ./:/var/www
      - ./nginx.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - sae.net
    restart: always
