{% extends 'layout.twig' %}

{% block content %}
<h2>Créer une catégorie</h2>

{% if error %}
    <p style="color: red;">{{ error }}</p>
{% endif %}

{% if success %}
    <p style="color: green;">Catégorie créée avec succès !</p>
{% endif %}

<form method="POST" action="/admin/create/category">
    <label for="name">Libellé :</label><br>
    <input type="text" id="name" name="name" value="{{ old.name|default('') }}" required><br><br>

    <label for="description">Description:</label><br>
    <textarea id="description" name="description" rows="6" required>{{ old.description|default('') }}</textarea><br><br>

    <button type="submit">Créer</button>
</form>
{% endblock %}
