twig
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Event Creation{% endblock %}</title>
</head>
<body>
    <h1>Event Creation</h1>
    {% block content %}{% endblock %}
</body>
</html>